.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 54px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 219, 219);
    z-index: 100;
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-center {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 36px;
    max-width: 600px;
  }
  .header-right {
    display: flex;
    width: 180px;
    align-content: center;
    justify-content: space-between;
    margin-right: 12px;
    flex-shrink: 0;
  }
  .hamburger-menu {
    height: 24px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .youtube-logo {
    height: 90px;
    cursor: pointer;
  }
  .search-text {
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 1;
    box-shadow: inset 1px 2px 5px 
    rgb(0, 0, 0, 0.15);
    width: 0;
  }
  .search-text::placeholder {
    font-size: 16px;
  }
  .button-search {
    height: 38px;
    width: 66px;
    margin-right: 10px;
    border-radius: 0;
    border: 1px solid gray;
    background-color: rgb(241, 241, 241);
    margin-left: -1px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-search:hover .tooltip,
  .button-microphone:hover .tooltip {
    opacity: 1;
  }
  .button-search .tooltip {
    background-color: rgb(141, 141, 141);
    border-radius: 2px;
    color: white;
    position: absolute;
    bottom: -36px;
    padding: 7px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .button-microphone .tooltip {
    background-color: rgb(141, 141, 141);
    border-radius: 2px;
    color: white;
    position: absolute;
    bottom: -36px;
    padding: 7px;
    opacity: 0;
    width: max-content;
    transition: opacity 0.2s;
  }
  .tooltip {
    pointer-events: none;
  }
  .search-icon {
    height: 22px;
  }
  .button-microphone {
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 19px;
    background-color:  rgb(241, 241, 241);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .microphone-icon {
    height: 18px;
  }
  .video-download-icon {
    height: 22px;
    margin-top: 7px;
    cursor: pointer;
  }
  .apps-icons {
    height: 22px;
    margin-top: 7px;
    cursor: pointer;
  }
  .nitfication-bell-icon-container {
    position: relative;
  }
  .notification-bell-icon {
    height: 22px;
    margin-top: 8px;
    cursor: pointer;
  }
  .nitfication-count {
    background-color: #CC0000;
    color: white;
    position: absolute;
    top: 4px;
    font-size: 12px;
    font-weight: 500;
    right: -4px;
    padding: 1px 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .iconsMyLogo {
    height: 36px;
    border-radius: 20px;
    cursor: pointer;
  }